/* //Code is from the following tutorial: https://bestofreactjs.com/repo/express-labs-pure-react-carousel-react-image-gallery. Code source: https://codesandbox.io/s/xxe6l */
.carousel__slider {
    padding-left: 25%;
    padding-right: 25%;
}
  
.carousel__inner-slide {
    width: 650px;
    left: 5px;
    top: 5px;
}

img {
    width:650px;
    height:500px;
}
/* //end of tutorial code */