.column {
    float: left;
    width: 50%;
    padding: 10px;
    overflow: hidden;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .h2 {
    font-size: 1.5rem;
    color: #2c292b;
    text-align: center;
    padding: 10px;
  }

  .form {
    padding: 1rem;
  }
  
  .control {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .control input {
    display: block;
    font: inherit;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 80%;
  }
  
  .actions {
    margin-top: 1rem;
    text-align: center;
  }

  .button{
    margin-right: auto;
    margin-left: auto;
  }
  
.slideText
{
  text-align: center;
}
.slideshow {
  margin: 10 auto;
  overflow: hidden;
}
.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 300px;
  width: 100%;
}
.slideshowDots {
  text-align: center;
}

.img {
  width:100%;
  height:500px;
}